{{ template "base" .}}

{{define "content"}}
    <div id="container">
        <div id="row">
            <div id="col">
                <h1> ALVAS envios</h1>
            </div>
        </div>
    </div>
{{ end}}