{{ template "base" .}}
{{define "content"}}
    {{$IsLogged := .IsLogged}}
    {{$customerName := .CustomerName}}
    {{ template "nav" .}}
    {{if not $IsLogged}}
        {{ template "carousel" .}}
    {{end}}
    <div class="container">
        <div class="row">
            <div class="col mb-12">
                {{if $IsLogged }}
                <h1 class="text-center mt-3"> Bienvenido {{.CustomerName}}</h1>
            </div>

            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Dirección</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">{{index .Data "customerID"}}</th>
                        <td>{{index .Data "customerName"}}</td>
                        <td>{{index .Data "customerAddress"}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="row justify-content-center mb-2">
                <div class="col-2 text-center">
                    <button type="button" class="btn btn-primary" onclick="location.href='/delivery/send-package';">
                        Nuevo envio
                    </button>
                </div>

                <div class="col-2 text-center">
                    <button type="button" class="btn btn-primary">Ver envios</button>
                </div>
            </div>

            {{else}}
                <h1 class="text-center mt-3"> Bienvenidos a <strong>Alvas</strong> envíos</h1>
            {{end}}
        </div>

    </div>
{{end}}